body {
    display: flex;
    height: 99vh;
    flex-direction: column;
    font-family: 'Bungee Shade', cursive;
    background-color: #000000;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.header__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    animation-name: changing-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes changing-color {
    0% {
        color: #FFFFFF;

    }
    12.5% {
        color: #ae3dff;

    }
    25% {
        color: #55ffe2;

    }
    37.5% {
        color: #ff3b93;

    }
    50% {
        color: #a7fd2a;

    }
    62.5% {
        color: #a81eaf;

    }
    75% {
        color: #ff6600;

    }
    87.5% {
        color: #f3f315;

    }
    100% {
        color: #FFFFFF;

    }
}

.main__legend--pcolor {
    font-size: 1.9rem;
    margin: 0.5rem auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__game {
    display: flex;
}

.secSize {
    width: 210px;
    text-align: center;
}

.title {
    font-size: 1.4rem;
    margin: 0.5rem auto;
}
.human__btn--style {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    text-align: center;
}

.info__p {
    font-family: 'Wallpoet', cursive;
}

.info__status {
    font-family: 'Wallpoet', cursive;
    font-size: 1.3rem;
    text-shadow: 0 0 1rem;
    padding-bottom: 6rem;
}

.marker {
    font-size: 1.4rem;
    width: 100%;
}

.marker__title {
    font-family: 'Wallpoet', cursive;
    margin: 0.5rem auto;
}

.marker__human, 
.marker__computer {
    font-family: 'Wallpoet', cursive;
    display: inline-block;
    width: 40%;
}

.btn__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.1rem;
}

.btn__container--style {
    flex-basis: 100%;
    font-family: 'Wallpoet', cursive;
    font-size: 1.4rem;
    padding: 0.8rem 0;
    border-radius: 3rem;
    border: 5px solid #ffffff;
    background-color: transparent;
    color: #FFFFFF;
}

.btn__container--style:hover {
    text-shadow: 0 0 0.9rem;
    box-shadow: 0 0 0.9rem;
}

.btn__container--style:active {
    text-shadow: none;
    box-shadow: 0 0 0.4rem inset;
}


.human__container,
.computer__container {
    width: 100%;
    height: 47%;
    margin-bottom: 0.5rem;
}
.human__choice,
.computer__choice {
    width: 100%;
    height: 100%;
}

.computer__choice {
    transform: scaleX(-1);
}

.game-over__container {
    position: absolute;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.btn__game-over {
    padding: 1rem 3rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
    height: 3rem;
}

.footer__p {
    font-family: 'Wallpoet', cursive;
    margin: 0.1rem auto;
}
.footer__p:nth-of-type(3) {
    margin-bottom: 1rem;
}